body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('images/bg.jpg');
    background-size: cover;
    /* ให้เต็มหน้าจอ */
}

.top-page {
    display: flex;
    /* ทำให้กล่องเป็น flex container */
    justify-content: space-between;
    /* กระจาย h1 ซ้าย ปุ่มขวา */
    align-items: center;
    /* จัดแนว */
    padding: 40px 30px 30px 100px; 
}

.btn-top {
    background-color: rgb(139, 94, 60);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}